<!DOCTYPE html>
<html>
<head>
    <title>Downloader</title>
</head>
<body>
    <h1>Formulaire de téléchargement</h1>
    <form method="GET" action="/imgquestion/">
        <label for="yt_url">URL YouTube :</label>
        <input type="text" name="yt_url" id="yt_url" required>
        <br>
        <label for="friendlyname">Nom du fichier :</label>
        <input type="text" name="friendlyname" id="friendlyname" required>
        <br>
        <button type="submit">Télécharger</button>
    </form>
</body>
</html>
