name: Build & Release Palemachine Package

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          
      - name: Execute Build Script and Create Package
        run: |
          chmod +x ./installation_scripts/build.sh
          ./installation_scripts/build.sh
          
      - name: Archive the full package
        run: tar -czvf palemachine-linux-full-package-${{ github.ref_name }}.tar.gz -C package .
        
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: palemachine-linux-full-package-${{ github.ref_name }}.tar.gz
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
